<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>Image Datestamp Tool</h1>
        <a href="https://github.com/ch-iv/image-datestamp" target="_blank" class="github-icon" aria-label="View on GitHub">
            <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
    </div>
<h4>Adds datestamps to your images</h4>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-item">
            <label for="font">Font:</label>
            <select name="font" id="font">
                <option value="News Gothic Condensed Regular" selected="selected">News Gothic Condensed Regular</option>
            </select>
        </div>

        <div class="form-item">
            <label for="color">Color:</label>
            <select name="color" id="color">
                <option value="white">White</option>
                <option value="black">Black</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="old-orange" selected="selected">Old orange</option>
                <option value="old-yellow">Old yellow</option>
            </select>
        </div>

        <div class="form-item">
            <label for="position">Position:</label>
            <select name="position" id="position">
                <option value="sw">Bottom Left</option>
                <option value="se" selected="selected">Bottom Right</option>
                <option value="nw">Top Left</option>
                <option value="ne">Top Right</option>
            </select>
        </div>

        <div class="form-item">
            <label for="scale">Scale:</label>
            <select name="scale" id="scale">
                <option value="0.1">10%</option>
                <option value="0.05" selected="selected">5%</option>
                <option value="0.03">3%</option>
                <option value="0.01">1%</option>
            </select>
        </div>
    </div>

    <input type="file" name="file" multiple>
    <input type="submit" value="Upload">
</form>

<br>
{% if batch_process_result %}
    {% if batch_process_result.critical_failure %}
        <div style="color: red">
            <h4>Critical failure: {{ batch_process_result.reason }}</h4>
            <ul>
                {% for file_result in batch_process_result.unsuccessful %}
                    <li>
                        {{ file_result.filename }}: {{ file_result.reason }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div style="color: green">
            <h4>Files processed successfully.</h4>
            <a href="{{ download_url }}">Download</a>
            <ul>
                {% for file_result in batch_process_result.successful %}
                    <li>
                        {{ file_result.filename }}: Processed
                    </li>
                {% endfor %}
                {% for file_result in batch_process_result.unsuccessful %}
                    <li style="color: red">
                        {{ file_result.filename }}: {{ file_result.reason }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}

<h2>FAQ</h2>
<h5>How does it work?</h5>
<p>This tool attempts to extract the date a photo was taken from its metadata, a packet of information encoded in the image. If successful, a datestamp is drawn on the image.</p>
<h5>The datestamp is wrong. Why is that?</h5>
<p>Sometimes metadata can be inaccurate. This often occurs if the date and time were not properly set on the camera when the photo was taken. Sadly, there is nothing you can do about that.</p>
<h5>Some of my photos are not in the zip archive. Why is that?</h5>
<p>When the tool is unable to process a photo, it silently ignores it.</p>
<h5>Can you see the photos I upload?</h5>
<p>Yes. Potentially anyone with access to the server running this tool can see your photos. Please refrain from uploading sensitive or illegal content.</p>
<h5>Is this tool open source?</h5>
<p>Yes. The GitHub repository is available <a href="https://github.com/ch-iv/image-datestamp">here</a>.</p>
<h5>How can I support this tool?</h5>
<p>This website doesn't run ads, nor is there a donation link. The best way to support this tool is to tell your friends about it. If you're a developer, you can help develop the tool.</p>
<h5>There is a feature I want that is missing. How can I request a feature to be added?</h5>
<p>You can file an "issue" <a href="https://github.com/ch-iv/image-datestamp/issues">here</a> and explain the feature you want.  No promises though ;)</p>

<h2>Demonstration</h2>
<h6>Before</h6>
<img src="/static/sample_image.JPG" alt="photo without a datestamp" width="500">
<h6>After</h6>
<img src="/static/sample_image_out.JPG" alt="photo with a datestamp" width="500">
</body>
</html>
